= form_for @widget do |f|
  - if @widget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@widget.errors.count, "error")} prohibited this widget from being saved:"
      %ul
        - @widget.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  -#.field
    = f.label :widget_type_id
    = f.number_field :widget_type_id
  -#Replace field id input with select list
    Include "Blank field" to accomodate widget creation "before" widget_type creation
  .field
    = f.label :widget_type_id
    #{select("widget", "widget_type_id", WidgetType::all.collect {|t| [t.name, t.id]}, {:include_blank => true})}

  .field
    = f.label :sources
    = f.text_field :sources

  .actions
    = f.submit 'Save'
  
