%div
  - wtype = WidgetType.find(@widgets[0].widget_type_id)
  = render :partial => "widgets/#{wtype.name}", :locals => {:widget => @widgets[0]}
  %div.row.pull-right
    %p.graytext
      %small
        Widget: #{@widgets[0].name}, Id: #{@widgets[0].id}
%br
%hr
%br  
%div
  - wtype = WidgetType.find(@widgets[1].widget_type_id)
  = render :partial => "widgets/#{wtype.name}", :locals => {:widget => @widgets[1]}
  %div.row.pull-right
    %p.graytext
      %small
        Widget: #{@widgets[1].name}, Id: #{@widgets[1].id}
