%h1 Listing dashes

%table
  %tr
    %th id
    %th Name
    %th Dash type
    %th Widgets
    %th
    %th
    %th

  - @dashes.each do |dash|
    %tr
      %td= dash.id
      %td= dash.name
      %td= dash.dash_type_id
      %td= dash.widgets
      %td= link_to 'Show', dash
      %td= link_to 'Display', display_dash_path(dash)
      %td= link_to 'Edit', edit_dash_path(dash)
      %td= link_to 'Destroy', dash, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dash', new_dash_path
