%p#notice= notice

%p
  %b Name:
  = @dash.name
%p
  %b Dash type:
  = @dash.dash_type_id
%p
  %b Widgets:
  = @dash.widgets

= link_to 'Edit', edit_dash_path(@dash)
\|
= link_to 'Back', dashes_path
\|
= link_to 'Display', display_dash_path(@dash)